$black-color: #000000a6;
$black-color-active: #000000d9;
$beige-color: #f5f2f0;
$sidebar-mobile-height: 40px;

/*!
 * Sidebar
 */
.sidebar {
  background: $beige-color;
  border: none;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1030;
  transition: left 0.5s;

  &.show {
    left: 0;
  }

  @media (min-width: 992px) {
    border-right: 1px solid #d5d2d0;
    transition: left 0.5s;
    left: 0;
  }

  a {
    color: $black-color;
    text-decoration: none;

    &.active {
      font-weight: 500;
      color: $black-color-active;
    }

    &:hover {
      color: $black-color-active;
    }
  }

  &.sidebar-main {
    overflow: auto;
  }

  &.sidebar-mobile {
    height: $sidebar-mobile-height;
    left: 0;
    z-index: 1031;

    @media (min-width: 992px) {
      display: none;
    }
  }
}

.main-content {
  margin-top: $sidebar-mobile-height;

  @media (min-width: 992px) {
    margin-top: 0;
  }
}

/*!
 * Hamburger
 */
.hamburger {
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;

  &:hover,
  .is-active:hover {
    opacity: 0.7;
  }

  &.is-active {
    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
      background-color: $black-color-active;
    }
  }
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 24px;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  width: 35px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: $black-color;
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;

  &:after,
  &:before {
    display: block;
    content: "";
  }

  &:after {
    bottom: -10px;
  }

  &:before {
    top: -10px;
  }
}

.hamburger--spin {
  .hamburger-inner {
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-duration: 0.22s;

    &:before {
      transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
    }

    &:after {
      transition: bottom 0.1s ease-in 0.25s,
        transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.is-active {
    .hamburger-inner {
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: rotate(225deg);

      &:before {
        top: 0;
        transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
        opacity: 0;
      }

      &:after {
        bottom: 0;
        transition: bottom 0.1s ease-out,
          transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
        transform: rotate(-90deg);
      }
    }
  }
}

/*!
 * Terms tooltips
 */
.term {
  border-bottom: 1px dotted;
  cursor: help;
}

/*!
 * Snippets
 */
pre {
  position: relative;

  .code-block {
    margin-left: -14px;
  }

  .run-code-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}
